# Environnements virtuels
venv/
myenv/

# Fichiers compilés Python
*.pyc
__pycache__/

# Fichiers de base de données
db.sqlite3

# Fichiers statiques
staticfiles/

# Configuration locale
*.local

# Migrations Django
*/migrations/*

# Fichiers de log
*.log

# Fichiers secrets
.env
