body{
	background-color: hsl(0, 0%, 98%);
}

h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}


.bg-dark{
	background-color: white!important; /*real rouge*/

}

.navbar-toggler{
	background-color: #D90088!important;
	height: auto;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.hidden{
	display: none!important;
}

        /*nav*/

#navig{
	margin-top: 0px;
	position: fixed;
	width: 100%;
	display:block;
	top: 0;
    left: 0;
    z-index: 100;
}

#haut1{
	background-color:#D90088;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
    z-index: 100;
} 

#haut2{
	color:white;
	background-color: white !important;
	width: 100%;
	margin-top: 0px;
	z-index: 100;

}

#lien{
	font-size: 20px; 
	font-weight: bolder; 
	color: #4b566b !important;
}

#tel{
	top: 0;
	margin-top: 0px

}


a:link{
	color: black !important;      /* #4984C3!important; real bleu*/
}

a:visited{
	color:black!important;
}

a:hover{
	color:#4984C3!important;
}

#corps{
	display: block;
	margin-top: 45px;
}

#rep{
	background-color:white!important;
    width: 100%;
    height: 58px;	
}







/*  PANIER   */

.quantité{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantité{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantité:hover{
	opacity: .6;
}

.ligne-panier{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}








/*  FIN BODY  */

.arrondie {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}


#fin{
	background-color: black;
	color: white;
	margin-bottom: 0px;
	bottom: 0px;
	padding-bottom:1px;
}








/*  TOUT  */

.cadre{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.photo{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.photoP{
	width: 100%;
	height: 100%;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}






.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}




@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    /*display: block;*/
    font: 7.5em 'Montserrat';
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}


@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}




.hre {
    border: none;
    border-top: 3px solid #D90088;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.hre:after {
    background: #fff;
    content: 'O';
    padding: 0 4px;
    position: relative;
    top: -13px;
}


.zoom {
  transition: transform .2s;
  margin: 0 auto;
  border:1px solid #000;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

