{% extends 'boutique/main.html' %}
{% load static %}

{% block content %}
		<div id="corps1">
			<h2 style="text-align: center; text-decoration: underline;">Voici tous les produits alimentaires du boutique</h2>
			<hr width="70%" style="text-align: center;">
			<hr width="5%" style="text-align: center;">
			<div id="objeAccueil" class="form-inline" style="width: 100%;">

				{% for aliment in aliments %}
				<div class="col-xs-6 col-sm-4 col-md-3" style="position: static; margin-top: 35px;">
					<img class="photoP" src="{{aliment.imageURL}}" />
					<div class="cadre" style="border-radius: 0 0 4px 4px;">
						<h5><strong>{{aliment.nom}}</strong>
						<hr>
						<a href="{% url 'panier' %}"><button data-produit = "{{ aliment.id }}" data-action = "add" class="btn btn-outline-secondary add-btn update-panier">Ajouter au panier</button></a>
						<p style="display: inline-block; float: right; font-size: 15px;">{{aliment.prix|floatformat:"0"}}Fcfa</p>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
{% endblock content %}